<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.encrysharemob" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_encryshare_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_encryshare_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EncryshareMob.main"
        android:usesCleartextTraffic="true"
        tools:targetApi="m" >
        <service
            android:name=".msgService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".chatWindow"
            android:exported="false" />
        <activity
            android:name=".loggedWindow"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>